.blocker-img {
  height: 50px;
}

a, button {
  cursor: pointer;
}
#signup-btn, #login-btn {
  background-color: #f5922b;
  border-color: #ccc;
  border-radius: 10px;
  font-size: 17px;
}
#signup-btn:hover, #login-btn:hover {
  background-color: #355ed6;
  border-color: #ccc;
  border-radius: 10px;
  font-size: 15px;
}

.my-nav {
  background-color: #355ed6 !important;
}

.blocker-div {
  margin-top: 100px;
  height: 100px;
  opacity: 0.7;
}

.signup-input{
  margin-bottom: 20px;
}

.firstname{
  margin-right: 15px;
}