.blocker-img {
  height: 50px;
}

.my-flash {
  margin-top: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  /* font-family: 'Cinzel', serif; */
}
a, button {
  cursor: pointer;
}
#signup-btn, #login-btn {
  background-color: #f5922b;
  border-color: #ccc;
  border-radius: 10px;
  font-size: 17px;
}
#signup-btn:hover, #login-btn:hover {
  background-color: #355ed6;
  border-color: #ccc;
  border-radius: 10px;
  font-size: 15px;
}

#login-btn {
  color: #fff;
  font-size: 15px;
}

.my-nav {
  background-color: #355ed6 !important;
}

.background-img {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.52);
}

.my-signup {
  margin-top: 50px;
}

.blocker-div {
  margin-top: 100px;
  height: 100px;
  opacity: 0.7;
}

.signup-input{
  margin-bottom: 20px;
}

.firstname{
  margin-right: 15px;
}